@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hola Mundo!</h1>
    <h2>Tecnologias de desarrollo de software IDE</h2>
    <br>
    <h3>TP1-AzureDevOps</h3>
</div>
<h4>Integrantes:</h4>
<ul>
    <li>Candela Poratti</li>
    <li>Franco Fonzo</li>
    <li>German Tano</li>
    <li>Lara Del Coro</li>
</ul>
